/testing_tailwinds/ai_cal_app/token.json
/testing_tailwinds/ai_cal_app/openai_tok.json
/testing_tailwinds/ai_cal_app/credentials.json
/testing_tailwinds/openai_tok.json
/testing_tailwinds/credentials.json
/testing_tailwinds/token.json
/DJ_server_calendar/django_secret.json
/DJ_server_calendar/credentials.json
/DJ_server_calendar/token.json
/DJ_server_calendar/openai_tok.json
